
/impact/lib/impact/*
/impact/weltmeister.html
/impact/game.min.js
/impact/lib/weltmeister/*
/impact/tools/*
/deploy/*

/.idea/*
Icon
Thumbs.db
.DS_Store

*.swp
*~
*.iml

/scripts/build/build.properties
chrome
bin
deploy